[Unit]
Description=Builder entry point
Requires=multi-user.target
After=multi-user.target

[Service]
Type=exec
PassEnvironment=BUILD_NO_AUTO BUILD_NO_HALT
ExecStart=/usr/bin/build

StandardInput=tty-force
StandardOutput=tty
StandardError=tty
WorkingDirectory=/tmp

[Install]
WantedBy=multi-user.target
